.pjCard{
    margin: 5px;
    width: 49%;
    padding: 15px;
    height: fit-content;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: background-color 0.2s linear;
    margin-left: 10px;
}


.pjCard:hover{
    background-color: #242238;
}




.pjName a{
    text-decoration: none;
    color: #a49de6;
}
.tags{
    display: flex;
}
.tech{
    margin-right: 5px;
}
