.pjCard{
    margin: 5px;
    width: 49%;
    padding: 15px;
    height: fit-content;

    display: flex;
    overflow: hidden;
    transition: background-color 0.2s linear;
}


.pjCard:hover{
    background-color: #242238;
}




.pjName a{
    text-decoration: none;
    color: #a49de6;
}
.img{
    overflow: hidden;
    min-height: 100%;
}
.img img{
    flex: 0 0 50%;
    width: 100%;
    height: auto;
    display: block;
}
.info{
    margin-left: 10px;
}
.tags{
    display: flex;
}
.tech{
    margin-right: 5px;
}
