.knowledge{
    /* width: 100%; */

    display: flex;
    flex-direction: column;
    /* min-height: 80vh; */
    
    justify-content: space-between;
    align-items: center;
}
.know-container .titles{
    font-size: 40px;
    text-align: center;
}
.know-container-imgs img{
    height: 150px;
    width: auto;
    margin: 10px 20px;

}