#root{
  display: flex;
  background-color: #292646;
  justify-content: right;
}

.container-rigth{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.home, .projects, .knowledge{
  width: 100%;
  flex: 1;
  min-height: 90vh;
  display: flex;
}
.projects{
  min-height: 75vh;
}
.home{
  justify-content: right;
  padding: 150px;
}
.home .text{
  width: 50%;
}
.home .text h1{
  font-size: 48px;
}
.home .text .rol{
  font-size: 36px;
  margin-bottom: 30px;
}
.home .text .me{
  font-size: 24px
}